@{
    ViewData["Title"] = "Detail Information";
}
<link rel="stylesheet" href="~/css/DetailSearch.css" />
@section scripts{
    <script>
        $(document).ready(function () {
            console.log('@ViewData["currentDate"]');
            $('#asOfDatePicker').val('@ViewData["currentDate"]');
        });
    </script>
}

<h1>@ViewData["Title"]</h1>

<div class="search_criteria">
    <form asp-controller="Detail" asp-action="Index">
        <p>
            As of Date: <input id="asOfDatePicker" type="date" name="FilterDateTextBox" />
            <input type="submit" value="submit" />
        </p>

    </form>
</div>

<div class="filter_detail_content">
    @if (Model.SearchDetailList != null)
    {
        if (Model.SearchDetailList.Count > 0)
        {
            <table id="detail_table" border="1">
                <thead>
                    <tr>
                        <th>@Html.ActionLink("Shop Name", "SortFilter", "Detail", new { sortOrderName = "TenantName", sortOrder = ViewBag.SortOrderBy })</th>
                        <th>@Html.ActionLink("Date", "SortFilter", "Detail", new { sortOrderName = "Date", sortOrder = ViewBag.SortOrderBy })</th>
                        <th>@Html.ActionLink("Unit Rent", "SortFilter", "Detail", new { sortOrderName = "UnitRent", sortOrder = ViewBag.SortOrderBy })</th>
                        <th>@Html.ActionLink("Total Income", "SortFilter", "Detail", new { sortOrderName = "TotalIncome", sortOrder = ViewBag.SortOrderBy })</th>
                        <th>@Html.ActionLink("Area Sqft", "SortFilter", "Detail", new { sortOrderName = "AreaSqft", sortOrder = ViewBag.SortOrderBy })</th>
                        <th>@Html.ActionLink("Total Sell Quantity", "SortFilter", "Detail", new { sortOrderName = "TotalSellQuantity", sortOrder = ViewBag.SortOrderBy })</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SearchDetailList)
                    {
                        <tr>
                            <td>@item.TenantName</td>
                            <td>@item.Date</td>
                            <td>@item.UnitRent</td>
                            <td>$@String.Format("{0:#,###.##}", item.TotalIncome)</td>
                            <td>@String.Format("{0:#,###.00}", item.AreaSqft)</td>
                            <td>@String.Format("{0:#,###}", item.TotalSellQuantity)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="no_record_p">No Record</p>
        }
    }
    else
    {
        <p class="no_record_p">No Record</p>
    }
</div>

